.button-primary {
  border: 0;
  color: #fff;
  cursor: pointer;
  font-size: 2rem;
  font-family: inherit;
  height: 48px;
  overflow: hidden;
  outline-width: 2px;
  padding: 0 32px;
  position: relative;
  text-align: center;
  text-decoration: none;
  transition-duration: 167ms;
  transition-property: background-color, box-shadow, color, -webkit-box-shadow;
  transition-timing-function: cubic-bezier(0, 0, 0.2, 1);
  vertical-align: middle;
  z-index: 0;
  height: 56px;
  width: 100%;
  border-radius: 28px;
  line-height: normal;
  font-weight: normal;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #2977c9;
}

.button-primary:hover {
  background-color: #006097;
  color: #fff;
}
