.main {
  flex: 1;
  max-width: 1128px;
  display: flex;
  margin: auto;
  justify-content: space-between;
  padding-top: 4rem;
  position: relative;
  flex-wrap: nowrap;
  min-height: 560px;
  width: 100%;
  align-items: center;
}

.main__left {
  padding-right: 4.2rem;
  align-self: flex-start;
  flex-shrink: 0;
  width: 55%;
  position: relative;
}

.main__left-text {
  color: #8f5849;
  font-size: 5.6rem;
  font-weight: 200;
  line-height: 6.72rem;
}

.main__left-form {
  margin-top: 24px;
  margin-bottom: 16px;
  width: 408px;
}

.form__forgot-password-link {
  font-size: 1.6rem;
  line-height: 1.5;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.9);
  display: inline-block;
  margin: 16px 0 24px 0;
  width: fit-content;
}

.form__forgot-password-link:hover,
.form__forgot-password-link:focus,
.form__forgot-password-link:active {
  color: #0a66c2;
  text-decoration: underline;
}
.form__password {
  position: relative;
}

.form__password-show {
  background-color: rgba(0, 0, 0, 0);
  border: 0;
  border-radius: 2px;
  box-sizing: border-box;
  color: rgba(0, 0, 0, 0.6);
  cursor: pointer;
  display: inline-block;
  font-size: 1.6rem;
  font-weight: 600;
  font-family: inherit;
  height: 32px;
  line-height: 32px;
  overflow: hidden;
  outline-width: 2px;
  padding: 0 8px;
  position: relative;
  text-align: center;
  text-decoration: none;
  transition-duration: 167ms;
  transition-property: background-color, box-shadow, color;
  transition-timing-function: cubic-bezier(0, 0, 0.2, 1);
  vertical-align: middle;
  z-index: 0;
  position: absolute;
  right: 0;
  margin-right: 8px;
  top: calc(50% - 1rem);
}

.form__password-show:hover:not(:disabled):not(.disabled),
.form__password-show.hover-not-disabled,
.form__password-show:focus,
.form__password-show.focus {
  background-color: rgba(207, 207, 207, 0.25);
  color: rgba(0, 0, 0, 0.75);
}

.main__right {
  flex-shrink: 1;
  width: 70rem;
  height: 56rem;
  display: block;
  z-index: 0;
  position: relative;
}

@media (max-width: 767px) {
  .main {
    padding-top: 24px;
    padding-left: 12px;
    padding-right: 16px;
    flex-direction: column;
    min-height: 0;
  }

  .form__forgot-password-link {
    pointer-events: none;
  }

  .main__left {
    padding-right: 0px;
    width: 100%;
  }

  .main__left-text {
    padding-bottom: 24px;
    font-weight: 300;
    font-size: 32px;
    line-height: 1.2;
  }

  .main__left-form {
    width: 100%;
  }

  .main__right {
    width: 374px;
    height: 214px;
    position: static;
  }
}

@media (min-width: 992px) {
  .main {
    padding-left: 0;
    padding-right: 0;
  }
}
